@model cTaxi2.Models.AboutModelcs

@{
    ViewBag.Title = "About";
}
<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<p>Use this area to provide additional information.</p>


<div>Location: @ViewBag.Location</div>